<button 
  local-class="ui-button {{this.appearanceClass}} {{this.intentClass}} {{this.sizeClass}} {{if this.isLoading "is-loading"}}"
  style={{this.style}}
  disabled={{this.disabled}}
  type={{this.type}}
>
  {{#if this.isLoading}}
    <UiSpinner local-class="spinner" />
  {{/if}}
  <span local-class="label">
    {{#if this.label}}
      {{this.label}}
    {{else}}
      {{yield}}
    {{/if}}
  </span>
</button>